{% extends 'base.html.twig' %}
{% block extra_stylesheets %}
	<header>
		<link rel="stylesheet" href="{{ asset('css/star-rating.css')}}">
	</header>
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row mt-5">
			<div class="col-lg-12 mb-5">
				<h1 class="text-center">Déposer un avis</h1>
				{{ form_start(review_form) }}
				{{ form_row(review_form._token) }}
				<div class="mb-2 mt-5">
					{{ form_label(review_form.name, null, { 'label_attr': { 'class': 'form-label' }}) }}
					{{ form_widget(review_form.name, {'attr': { 'class': 'form-control'}})}}
					{{ form_errors(review_form.name )}}
				</div>
				<div class="mb-2">
					{{ form_label(review_form.comment, null, { 'label_attr': { 'class': 'form-label' }}) }}
					{{ form_widget(review_form.comment, { 'attr': { 'class': 'form-control' }})}}
					{{ form_errors(review_form.comment )}}
				</div>
				<div class="mb-2">
					{{ form_label(review_form.note, null, { 'label_attr': { 'class': 'form-label' }}) }}
					<div class="star-rating">
						{% for i in 5..1 %}
							<input id="{{ review_form.note.vars.id }}_{{ i }}" type="radio" name="{{ review_form.note.vars.full_name }}" value="{{ i }}" class="star-rating__input">
							<label for="{{ review_form.note.vars.id }}_{{ i }}" class="star-rating__star">&#9733;</label>
						{% endfor %}


					</div>
					{{ form_errors(review_form.note )}}
				</div>
				<div class="mt-3">{{ form_widget(review_form.submit, { 'attr': {'class': 'btn btn-danger mt-1'} }) }}</div>
				{{ form_end(review_form, {'render_rest': false}) }}
			</div>
		</div>


		<div class="row d-flex justify-content-around flex-wrap mt-2">
			<div class="mb-4">
				<h2 class="text-center">Les avis de nos clients</h2>
			</div>
			{% for review in reviews %}
				<div class="card m-5 text-center" style="width: auto;">
					<h3>{{ review.name }}</h3>
					<div class="card-body">
						{% if review.comment %}
							<p>{{ review.comment }}</p>
						{% endif %}
						{% for i in 1..5 %}
							{% if i <= review.note %}
								<span class="star-rating__star">&#9733;</span>
								<!-- Etoile remplie -->
							{% else %}
								<span class="star-rating__star">&#9734;</span>
								<!-- Etoile vide -->
							{% endif %}
						{% endfor %}

					</div>
				</div>
			{% endfor %}
		</div>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Retour en haut de page</button>
	</div>
	<script src="{{ asset('js/topButton.js') }}"></script>
{% endblock %}

