{% extends 'base.html.twig' %}

{% block title %}Liste de voitures
{% endblock %}

{% block body %}

	<div class="d-flex justify-content-around flex-wrap container mt-5">
		{% for car in pagination %}
			<div class="card m-5" style="width: 20rem;">
				{% for image in car.carImages %}
					{% if image.name %}
						<img src="{{ asset('images/cars/' ~ image.name) }}" alt="{{ car.brand }} {{ car.model }}" style="max-width: 10rem;">
					{% endif %}
				{% endfor %}

				<div class="card-body">

					{% if car.brand %}
						<h5 class="card-title text-center">{{car.brand ~ " " ~ car.model}}</h5>
					{% endif %}
					<p class="card-text text-center">{{car.year}}</p>
					<p class="card-text text-center">{{car.price ~ "€"}}</p>
					<a href="{{path('voiture_detail', {id: car.id}) }}" class="btn btn-danger stretched-link d-flex justify-content-center">Détails</a>
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="container d-flex justify-content-center">
	{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}

